/** CSS Styles */


.toolbar {
    height: 64px !important;
}

.container {
    padding-left: initial; 
    padding-right: initial; 
}
body {
  background: #F2F2F2;
}
.content {
  background: #F2F2F2;
}

main .container{
  background: white;
}

.mt-mod {
    margin-top: 5rem !important;
}

.with.top-fixed-toolbar {
    padding-top: 76px;
}

.button_area {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 56px;
  padding: 0;
  background-color: #F2F2F2;
  text-align: center;
}

.form-signin {
  max-width: 330px;
  margin: 100px auto;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}


.loading_main{
  padding-left: 0px !important;
}
.loading_center {
  max-width: 100px;
  margin: 100px auto;
  
}
     
.form-signin h2.form-signin-heading {
  margin: 0;
  padding: 20px 15px;
  text-align: center;
  background: #009688;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}      
.login-wrap {
  padding: 20px;
  position: relative;
}
      
.user-login-info .form-control:last-child {
  margin-bottom: 0 !important;
}
